apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-backend
  namespace: {{ .Release.Name }}
spec:
  type: ClusterIP
  selector:
    app: {{ .Values.name }}
  ports:
    - name: backend
      port: {{ .Values.container.service.port }}
      targetPort: {{ .Values.container.service.targetPort }}
